body{background-color: #504141;
    position: relative;
}
.header{
    position: absolute;
    background-color: #211E1E;
    left: 0;
    right: 0;
    height:80px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header ul li{
    display: inline;
 margin-left: 80px;
 font-family: 'Inter';
 color: white;
  font-weight: bold;
}

.mainheader{
    position: relative;
    height: 1300px;
}
.background{
    width: 100%;
    height: 100%;
    opacity: 0.2;
    position: relative;  
   
}
.logoContainer{
    position: absolute;
 bottom: 0;
    width: 300px;
    
    left: 520px;
}
.logo{
    width: 100%;
    height: 100%;
    
}
.grid1
{
    margin-top: 350px;
    top: 0;
    position: absolute;
    width: 380px;
    height: 600px;
     border-radius: 30px;
border: 5px solid #000;
background: linear-gradient(226deg, #560303 0%, rgba(98, 0, 143, 0.52) 49.96%, rgba(0, 26, 255, 0.00) 100%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.welcome
{
 position: absolute;
 font-family:'Inret';
 font-size: 50px;
 text-align: center;
 margin-left: 150px;
 font-weight: bold;
 color: white;
 top: 0;
 margin-top: 200px;

}
.welcome2{
    position: absolute;
    font-family:'Inret';
    font-size: 60px;
    text-align: center;
    margin-left: 550px;
    font-weight: bold;
    color: white;
    top: 0;
    margin-top: 500px;

}
.contact
{
    color: white;
    position: absolute;
    right: 0;
    font-size: 20px;
    width: 500px;
    font-weight: bold;
    bottom: 0;
    margin-bottom: 100px;
}

.buttonContainer{
    position: absolute;
    bottom: 0;
    margin-left: 600px;
    margin-bottom: 600px;


}
.but{
    background-color:#E56363;
    width: 200px;
    height: 60px;
    position: absolute;
    border-style: none;
    border-radius: 20px;
    font-family: 'inter';
    font-style: 40px;
    font-weight: bold;
    color: white;
}
.logo1{
    width: 200px;
    margin-left: 100px;
    margin-top: 40px;
}

.logo1 img{
    width: 100%;
    height: 100%;
}
.grid1 p {
    color: white;
    padding-left: 10px;
    font-weight: bold;
}